**/target
.direnv/
.idea/
**/.DS_Store
.smithy.lsp.log
.sbt
**/node_modules
tree-sitter-smithyql/build
tree-sitter-smithyql/*.wasm
tree-sitter-smithyql/src
tree-sitter-smithyql/bindings
smithyql-log.txt

result
